.main-title {
  background-image: url(https://media.tacdn.com/media/attractions-content--1x-1/0b/2d/dc/c2.jpg);
  width: 100%;
  height: 500px;
  margin-top: 0px;
}

.title {
  text-align: center;
  color: lightcoral;
  padding: 5px;
  font-size: 100px;
}

.sub-header {
  color: lightblue;
  text-align: center;
  font-size: 25px;
}

.profile-pic {
  position: absolute;
  left: 1300px;
  top: 50px;
}

.about-me {
  position: absolute;
  left: 500px;
  top: 0;
  width: 600px;
}

.top {
  width: 100%;
  position: relative;
  height: 350px;
  background-color: lavender;
  margin-bottom: 15px;
}

.bottom {
  width: 100%;
}

.my-projects {
  text-align: center;
  background-color: plum;
  padding-top: 5px;
  padding-bottom: 5px;
}

ul {
  list-style-position: inside;
  text-align: center;
}

.contact-info {
  text-align: center;
  background-color: orchid;
  padding-top: 5px;
  padding-bottom: 5px;
  top: 5px;
}
